==
<section id="four" class="main">
    <header class="major">
        <h2>Личный кабинет пользователя</h2>
        <p>Отсюда вы можете перейти в личный кабинет, рассчитать стоимость доставки или отследить товар</p>
    </header>
    <footer class="major">
        <ul class="actions">
            <li><a href="{{'lichnyj-kabinet'|page}}" class="button">Личный кабинет</a></li>
            <li><a href="{{'calc'|page}}" class="button">Тарифный калькулятор</a></li>
            <li><a href="{{'tracking'|page}}" class="button">Трекинг</a></li>
        </ul>
    </footer>
</section>